name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - - name: Unzip project
        run: |
          unzip CoherenceSeedAndroid.zip
          cd CoherenceSeedAndroid || cd */CoherenceSeedAndroid
          chmod +x gradlew

      - name: Build APK
        run: |
          cd CoherenceSeedAndroid || cd */CoherenceSeedAndroid
          ./gradlew assembleDebug
